<div class="row">

  <div class="col">

    <h1>*ngIf</h1> <hr>

    <div *ngIf="mostrar" class="card text-white bg-primary mb-3" style="max-width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Primary card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>

    <button (click)="cambiar()" type="button" class="btn btn-primary">{{ texto }}</button>
    <!-- <button (click)="mostrar = !mostrar" type="button" class="btn btn-primary">Mostrar / Ocultar</button> -->

  </div>

  <div class="col">
    <h1>*ngFor</h1>
    <hr>

    <div *ngFor="let persona of personas">
        <div *ngIf="persona.edad>18" class="card text-white bg-primary mb-3" style="max-width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">{{ persona.nombre }}</h5>
              <p class="card-text">{{ persona.edad }}</p>
            </div>
          </div>
    </div>

</div>

</div>
