
<h2>Chat</h2> 
<div class="text-right">
    <button (click)="salir()" style="right: 10px" class="btn btn-danger">X</button>
</div>

<hr>
<div class="app-mensajes" id="app-mensajes">

  <div *ngFor="let chat of _cs.chats">
      <!-- <span class="badge badge-primary">{{chat.nombre}}</span>
      <p>{{chat.mensaje}}</p> -->

      <div class="text-right" *ngIf="yo(chat)">
        <span class="badge badge-primary">{{chat.nombre}}</span>
        <p>{{chat.mensaje}}</p>
      </div>

      <div class="text-left" *ngIf="otro(chat)">
        <span class="badge badge-primary">{{chat.nombre}}</span>
        <p>{{chat.mensaje}}</p>
      </div>

  </div>

  <br>
</div>

<input type="text" name="mensaje" [(ngModel)]="mensaje" class="form-control" (keyup.enter)= "enviarMensaje()" placeholder="Enviar mensaje">



